@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho:wght@700&display=swap');
body{
    background-color: #235390;
}
.item-lectura{
    background-color: #dce7f538;
    border-radius: 20px;

}
.item-lectura p{
    text-align: justify;
    font-family: 'Zen Old Mincho', serif;
    font-size: 3vh;
    
}
.item-lectura h1{
    color: #202f5a;
    font-family: 'Zen Old Mincho', serif;
}

.item-lect img{
    filter: drop-shadow(2px 4px 6px rgb(31, 34, 75));
    margin: 0 auto;
}

.iconos i, .iconos span{
    padding: 5px;
    color: rgb(31, 24, 24);
    font-size: 20px;
    
       
}
.item-lect{
    
    border-radius: 20px;
}
.sound{font-size: 20px;}


.popup{
    width: 200px;
    height: 70px;
    color :#000;
    border-radius: 7px;
    background-color: #fff;
    text-align: center;
    

    
    
}

.popup p{
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    padding : 5px 15px;
    width: inherit;

}

.oido, .libro{
    margin-bottom: 10px;
    margin-top: 8px;

}

.libro{
    padding-left: 10px; 
}


.oido{
    padding-right: 10px; 

}
/* 
.popup i:last-of-type{
    position: absolute !important;
    top : 5px !important;
    right: 5px !important;

} */

.cerrar {
    position: absolute;
    right: 7px;
}